@import "Login.css";
@import "TopHeader.css";
@import "Home.css";

.center-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.spinner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}