@import "Login.css";
@import "TopHeader.css";
@import "Home.css";
@import "AdminAccounts.css";
@import "ViewAdminAccount.css";
@import "CreateAdminAccount.css";
@import "CustomerAccounts.css";
@import "ViewCustomerAccount.css";
@import "StoreAccounts.css";
@import "ViewStoreAccount.css";
@import "DriverAccounts.css";
@import "ViewDriverAccount.css";
@import "UserProfiles.css";
@import "ViewUserProfile.css";
@import "PostCases.css";
@import "ViewPostCase.css";
@import "UnconfirmedOrders.css";
@import "ViewUnconfirmedOrder.css";
@import "UnsuccessfulOrders.css";

.center-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.spinner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.page-container{
    margin-top: 3rem;
}
.searchbar-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
#searchbar{
    width: 50%;
    border-radius: 20px;
}
.table-header{
    text-align: center;
}
.header-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.profile-photo{
    width: 150px;
    height: 180px;
    object-fit: cover;
}
.account-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.no-accounts-notice{
    text-align: center;
    font-size: 25px;
}