#driver-unsuccessful-orders-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#driver-unsuccessful-orders-warning-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    margin-bottom: 2rem;
}
#driver-unsuccessful-orders-warning-text{
    width: 60%;
    font-size: 17px;
}
.driver-unsuccessful-orders-card{
    width: 60%;
    margin-bottom: 2rem;
}
.driver-unsuccessful-orders-card-header{
    text-align: center;
    padding: 1rem;
}
.driver-unsuccessful-orders-label-link{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
}
#driver-last-available-location-button{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#driver-unsuccessful-orders-resolver-button{
    margin-right: 1rem;
    font-size: 18px;
    margin-bottom: 1.5rem;
}
.driver-unsuccessful-orders-form-label{
    font-size: 20px;
    margin-bottom: 1.5rem;
}
.resolving-unsuccessful-orders-instructions{
    font-size: 18px;
    margin-bottom: 1.5rem;
}
.resolving-unsuccessful-orders-guidelines-container{
    margin-bottom: 1.5rem;
}
.unsuccessful-order-guidelines{
    font-size: 18px;
}
#unsuccessful-orders-accordion{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.unsuccessful-order-data-button{
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    align-self: center;
}
#unsuccessful-order-products-accordion{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.unsuccessful-order-product-image-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    flex: 1;
    align-items: center;
}
.unsuccessful-order-product-image{
    width: 180px;
    height: 210px;
    object-fit: cover;
}
.unsuccessful-order-action-buttons-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1rem;
}
.unsuccessful-order-action-button{
    width: 48%;
}
.unsuccessful-order-modal-paragraph{
    font-size: 18px;
}