#earnings-filter-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}
.earnings-filter-group{
    width: 20%;
}
#earnings-page-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 1.5rem;
}