.account-card-container{
    width: 60%;
}

.name-text{
    margin-left: 3rem;
    font-size: 25px;
}

.account-tile{
    font-size: 20px;
    padding: 1rem;
}

.footer-buttons-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-button{
    width: 45%;
}