#store-accounts-filters-container{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.store-account-filter-group{
    width: 20%;
}