#view-customer-account-card{
    width: 70%;
    margin-top: 2rem;
}
#view-customer-account-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    flex-direction: column;
}

