#view-admin-account-card{
    width: 60%;
}
#view-admin-account-footer{
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.view-admin-account-button{
    width: 100%;
    margin-bottom: 1rem;
}
.edit-admin-account-alert{
    margin-bottom: 0;
}