#view-store-account-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    flex-direction: column;
}
.view-store-account-card{
    width: 60%;
    margin-top: 2rem;
}
#view-store-data-container{
    display: flex;
    flex: 1;
    margin-bottom: 1rem;
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
}
.view-store-data-button{
    width: 45%;
}
.view-store-account-card-header{
    text-align: center;
    padding: 1rem;
}

#store-verification-card-body{
    margin-top: 1rem;
}
.store-verification-label{
    font-size: 20px;
    margin-bottom: 1.5rem;
}
#store-reviewer-button{
    margin-right: 1rem;
    font-size: 18px;
    margin-bottom: 1.5rem;
}
.store-verification-instructions{
    font-size: 18px;
    margin-bottom: 1.5rem;
}
.store-verification-guidelines-container{
    margin-bottom: 1.5rem;
}
.store-verification-process{
    font-size: 18px;
    margin-bottom: 1.5rem;
}
.store-verification-guidelines{
    font-size: 18px;
}